*{
    margin: 0;
    padding: 0;

}
body{
    background: linear-gradient(90deg, rgb(241, 248, 236), rgb(226, 252, 220));
    
}

.general{
    height: 100vh;
}

nav{
    background: linear-gradient(45deg, rgb(240, 247, 232), rgb(203, 247, 192));
    z-index: 1;
    top: 5px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 2px solid rgb(187, 147, 147);
    border-top: 2px solid rgb(187, 147, 147);
}

.vacio{
    height: 15px;
}

.sobreMi{
    padding: 0px 35px 35px 35px ;
}

.chicha{
    width: 250px;
    border-radius: 50%;
    box-shadow: 3px 3px  rgba(52, 114, 40, 0.63), -3px -3px  rgba(122, 24, 24, 0.63);
}

.galeria{
    padding: 40px;
    border-top: 2px solid rgb(187, 147, 147);
    border-bottom: 2px solid rgb(187, 147, 147);
}

footer{
    height: 30vh;
}

main{
    margin-top: 100px;
}
 /* .card{
    opacity: 50%;
 } */

 .card:hover{
    opacity: 100%;
    transition: 1s;
    cursor: pointer;
 }

 .modalImg{
    width: 28rem;
 }

@media (max-width:750px){
    
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    main{
        margin-top: 150px;
    }

    .chicha{
        width: 130px;
    }

    .textoSobreMi{
        font-size: 18px;
    }

    .card{
        opacity: 100%;
     }

     .modalImg{
        width: 350px;
     }

     .sobreMi{
        padding: 0px;
    }

}